// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-main {
    background: image-url('waterfall.jpg') no-repeat center center;
    background-size: cover;
    height: 700px;

    .content {
        position: relative;
        top: 150px;
        text-align: center;
    }

    h1 {
        color: #fff;
        font-weight: 100;
        margin-bottom: 30px;
        text-align: center;
        text-shadow: 0 2px 3px rgba(0,0,0,0.4);
        
    }

}

.home-secondary {
    background: image-url('mountain.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
}

.btn-primary, .btn-default {
    background-color: #2E72BD;
    border-radius: 0;
    font-size: 16px;
    padding: 12px 26px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
    font-weight: 300;
}

.home-supporting, .home-about, .about-supporting {
    padding: 80px 0;
    text-align: center;

    h2 {
        color: #000;
        margin: 30px 0;
    }
}
